<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Balance</title>
</head>
<body>
    <h1>Home</h1>

    <form method="POST" action="/create">
        <label for="type">Type</label>
            <select name="type" >
                <option value=income>Income</option>
                <option value=expense>Expense</option>
            </select>

        <label for="concept">Concept</label>
            <input type="text" name="concept" placeholder="Ej: lunch">

        <label for="amount">Amount</label>
            <input type="text" name="amount" placeholder="Ej: 1500">

        <label for="date">Date</label>
            <input type="date" name="date" min="2020-01-01" max="2022-12-31">

        <label for="type">Category</label>
        <input type="number" name="category">

        <button type="submit" >Submit</button>
    </form>

    <h2>Incomes</h2>

    <% let sumIncomes = 0 %> 
    <% let eliminadoIncomes = 0 %> 
    <% for( let index = 0; index < incomes.length; index++ ) { %>
        <%  incomes[index].active === 1 ? (sumIncomes += incomes[index].amount) : null %> 
        <% incomes[index].active === 1 ? incomes[index].concept : (eliminadoIncomes += 1) %>
        <%= incomes[index].active === 1 ? incomes[index].concept : null %>
        <%= incomes[index].active === 1 ? incomes[index].amount : null %>
        <%= incomes[index].active === 1 ? incomes[index].date : null %>
        <%= incomes[index].active === 1 ? incomes[index].categoriesId : null %>
        <% if (incomes[index].active === 1) { %>
            <form class="deleteForm" method="POST" action="/delete/<%= incomes[index].id %>?_method=DELETE">
                <input class="modifierForm" type="text" name="type" value="incomes" placeholder="incomes">
                <button type="submit">Delete</button>
            </form>
            <button id="buttonModifierForm" class="buttonModifierForm" type="submit">Edit</button>

            <form id="modifierForm" class="modifierForm" method="POST" action="/modifier/<%= incomes[index].id %>?_method=PUT">
                <input class="modifierForm" type="text" name="type" value="incomes" placeholder="incomes">
                <label for="concept">Concept</label>
                <input type="text" name="concept" value="<%= incomes[index].concept%>" placeholder="<%= incomes[index].concept %>">
                
                <label for="amount">Amount</label>
                    <input type="text" name="amount" value="<%= incomes[index].amount%>" placeholder="<%= incomes[index].amount%>">
        
                <label for="date">Date</label>
                    <input type="date" name="date" min="2020-01-01" max="2022-12-31">
        
                <button type="submit" >Submit</button>
            </form>
            
        <% } %>
            
    <% } %>
    <h4>Total: <%= sumIncomes %> </h4>
    <h4>Registros eliminados: <%= eliminadoIncomes %> </h4>

    <h2>Expenses</h2>

    <% let sumExpenses = 0 %> 
    <% let eliminadoExpenses = 0 %> 
    
    <% for( let index = 0; index < expenses.length; index++ ) { %>
        <%  expenses[index].active === 1 ? (sumExpenses += expenses[index].amount) : null %>
        <%  expenses[index].active === 1 ? (eliminadoExpenses += 1) : null %>
        <%= expenses[index].active === 1 ? expenses[index].concept  : null %> 
        <%= expenses[index].active === 1 ? `$${expenses[index].amount}` : null %>
        <%= expenses[index].active === 1 ? expenses[index].date  : null %>
        <%= expenses[index].active === 1 ? expenses[index].categoriesId  : null %>
        <% if (expenses[index].active === 1) { %>
            <form class="deleteForm" method="POST" action="/delete/<%= expenses[index].id %>?_method=DELETE">
                <input class="modifierForm" type="text" name="type" value="expenses" placeholder="expenses">
                <button type="submit">Delete</button>
            </form>
            <button id="buttonModifierForm" class="buttonModifierForm" type="submit">Edit</button>

            <form id="modifierForm" class="modifierForm" method="POST" action="/modifier/<%= expenses[index].id %>?_method=PUT">
                <input class="modifierForm" type="text" name="type" value="expenses" placeholder="expenses">
                <label for="concept">Concept</label>
                <input type="text" name="concept" value="<%= expenses[index].concept%>" placeholder="<%= expenses[index].concept %>">
                
                <label for="amount">Amount</label>
                    <input type="text" name="amount" value="<%= expenses[index].amount%>" placeholder="<%= expenses[index].amount%>">
        
                <label for="date">Date</label>
                    <input type="date" name="date" min="2020-01-01" max="2022-12-31">
        
                <button type="submit" >Submit</button>
            </form>
            
        <% } %>
        
    <% } %>
        <h4>Total: <%= sumExpenses %> </h4>
        <h4>Registros eliminados: <%= eliminadoExpenses %> </h4>

        <script src="/js/events.js"></script>
</body>
</html>